[Unit]
Description=Synchronize MPD volume to CamillaDSP
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python /usr/local/bin/mpd2cdspvolume --pid_file /var/run/mpd2cdspvol.pid --volume_state_file /var/lib/cdsp/camilladsp_volume_state

[Install]
WantedBy=multi-user.target

